# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Large/raw datasets
data/raw/
*.zip

# Generated figures
data/processed/figures/

# OS files
.DS_Store
Thumbs.db